# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.build/
dist/
scripts/test.py

# Jupyter
.ipynb_checkpoints/
*.csv
*.sh
# VS Code
.vscode/*.log
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

ner_model/

*out
# Data & models
artifacts/
AGO_REF_PDF/
ASCO/

# OS
.DS_Store
Thumbs.db

logs/
*.tar.gz
elsevier_10.1016_j.annonc.2022.07.007.txt

.vscode/
# Cluster job script (machine-specific)
run_epmc.sh

