# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.build/
dist/
scripts/test.py

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/*.log
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Envs
.env
.venv/
env/
venv/

# Data & models
data/
models/
artifacts/

# OS
.DS_Store
Thumbs.db
